<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Aras_Mobile.Aras_Mobile" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Aras_Mobile"></application>
</manifest>